@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway.ttf") format("truetype");
}

@font-face {
    font-family: "Raleway-italic";
    src: url("../fonts/Raleway-Italic.ttf") format("truetype");
}

* {
    font-family: "Raleway";
}